body {
    color: #ffffff;
    background: #1f2937;

    font-family: "Karla", sans-serif;

    margin: 80px 400px;
    height: 100vh;
}

#hero-text {
    font-size: 90px;
    font-style: normal;
    font-weight: 800;

    width: 850px;
    margin-bottom: 20px;
    line-height: 88px;
}

#cta {
    color: #4adf86;
}

#support-text {
    color: #d5d4d8;

    font-size: 32px;
    font-style: normal;
    font-weight: 400;

    margin-top: 0px;
}

#generate-button {
    display: block;

    color: #ffffff;
    background: #4adf86;

    margin-top: 100px;
    padding: 20px 35px;

    border-radius: 8px;
    border: none;

    font-size: 28px;
}

#line {
    border: 1px solid #2f3e53;

    margin-top: 60px;
}

.password-container {
    display: flex;

    margin-top: 40px;
}

.password {
    color: #4adf86;
    background: #273549;

    padding: 20px 50px;

    border-radius: 8px;
    border: none;

    min-width: 160px;
    min-height: 30px;

    font-size: 20px;
    text-align: center;
}

#password-two {
    margin-left: 100px;
}

#password-length {
    color: #4adf86;
    background: none;

    text-align: center;
    font-size: 16px;

    width: 60px;

    margin-top: 32px;
    padding: 8px;

    border: 2px solid #d5d4d8;
    border-radius: 4px;
}

#length-container {
    display: flex;
    flex-direction: column;

    font-size: 24px;
}

#criteria-container {
    display: flex;

    margin-top: 140px;

    font-size: 24px;
}

#criteria-text {
    margin: 0px;
}

#toggle-container {
    display: flex;

    margin-left: 160px;

    flex-direction: column;
}

#toggle-buttons {
    display: flex;
    margin-top: 32px;
}

#toggle-symbol-container {
    margin-left: 96px;
}

.toggle {
    cursor: pointer;
    display: inline-block;
}

.toggle-switch {
    display: inline-block;
    background: #ccc;
    border-radius: 16px;
    width: 58px;
    height: 32px;
    position: relative;
    vertical-align: middle;
    transition: background 0.25s;
}
.toggle-switch:before,
.toggle-switch:after {
    content: "";
}
.toggle-switch:before {
    display: block;
    background: linear-gradient(to bottom, #fff 0%, #eee 100%);
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
    width: 24px;
    height: 24px;
    position: absolute;
    top: 4px;
    left: 4px;
    transition: left 0.25s;
}
.toggle:hover .toggle-switch:before {
    background: linear-gradient(to bottom, #fff 0%, #fff 100%);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}
.toggle-checkbox:checked + .toggle-switch {
    background: #4adf86;
}
.toggle-checkbox:checked + .toggle-switch:before {
    left: 30px;
}

.toggle-checkbox {
    position: absolute;
    visibility: hidden;
}

.toggle-label {
    margin-left: 5px;
    position: relative;
    top: 2px;
}

.copy-button {
    color: #ffffff;
    background: #4adf86;

    margin-top: 20px;
    padding: 20px;

    border-radius: 8px;
    border: none;

    width: 80px;
    height: 70px;

    font-size: 20px;
    text-align: center;
}
